addons:
  postgresql: "9.4"
before_install:
  - "echo '--colour' > ~/.rspec"
  - "echo 'gem: --no-document' > ~/.gemrc"
  - git config --global user.name 'Travis CI'
  - git config --global user.email 'travis-ci@example.com'
branches:
  only:
    - master
install:
  - travis_retry bin/setup
language:
  - ruby
notifications:
  email:
    - false
sudo: false
rvm:
  - 2.3.0
  - 2.2.4
  - 2.1.8
gemfile:
  - gemfiles/rails40.gemfile
  - gemfiles/rails41.gemfile
  - gemfiles/rails42.gemfile
  - gemfiles/rails42_with_fg_rails.gemfile
  - gemfiles/rails50.gemfile
  - gemfiles/rails_edge.gemfile
matrix:
  exclude:
    - rvm: 2.1.8
      gemfile: gemfiles/rails50.gemfile
    - gemfile: gemfiles/rails_edge.gemfile
